

.account {
    display: flex;
    align-items: center;
    justify-content: space-evenly;	  
}

.avatar {
    background-color: #f1e8e8;
    border-radius: 5px;
    box-shadow: 2px 1px #F0F2F5;
    margin-right: 16px;
}



.img1 {
    width: 160px;
    height: 160px;
    border-radius: 5px 5px 0px 0px;
}

.img {
    width: 100%;
    display: flex;

}

#account {
    background-color: #F0F2F5;
}

.login {
    height: 315px;
    padding: 0px 20px;
    background-color: #f8f4f4;
    border-radius: 6px;
    text-align: center;
    border: 1px rgb(122, 107, 107);
    box-shadow: 2px 1px rgb(236, 223, 223);

    
}

.input {
    height: 22px;
    width: 330px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 14px 16px;
    border: 2px rgb(97, 107, 197);

}

#buttonlogin {
    height: 48px;
    width: 364px;
    background-color: #1877FE;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0px 16px;
    box-sizing: border-box;
    border: 2px white;
    font-size: 16px;

}

#fogot {
    margin-top: 6px;
    color: blue;

}

.div1 {
    margin: 6px 0px;
}

#pass {
    margin-top: 6px;
    font-size: 16px;

}

#mail {
    margin-bottom: 6px;
    margin-top: 12px;
    font-size: 16px;

}

.createAccount {
    background-color: rgb(65, 202, 65);
    padding: 12px;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;

}

#createAccount {
    color: white;
    font-size: 18px;
}



#title1 {
    color: blue;
    font-size: 50px;

}

.useName {
    font-size: 16px;
    text-align: center;

}

#title1 {
    margin-bottom: 10px;
}


#title2 {
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 25x;
}


#title4 {
    margin-top: 0px;
}

